# sekrety / lokalne
.env
.env.*
!.env.example
*.pem
*.key
id_rsa
id_ed25519
credentials.json

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~

# zależności / build (częste)
node_modules/
__pycache__/
*.pyc
.venv/
venv/
dist/
build/
.flatpak-builder/
flatpak/build/
flatpak/repo/
target/
.next/
.cache/
